<div class="my border-xs clearfix visible-xs">
	<ul id="boton-nav" class="font-sm nav nav-tabs">
		<li role="presentation"><a href="#perfil">Perfil</a></li>
		<li role="presentation"><a href="#conocimientos">Conocimientos</a></li>
		<li role="presentation"><a href="#experiencia">Exp.Laboral</a></li>
		<li role="presentation"><a href="#contacto">Contacto</a></li>
	</ul>
</div>

<section id="perfil">
	<h3 class="center"><strong>Perfil:</strong></h3>
	<p>¡Hola!, de ante mano te doy las gracias por prestar interés en mí. Soy Bryan Mauricio Galviz y soy de la ciudad de Bogotá (Colombia), pero actualmente vivo en Manizales (Colombia).</p>

	<blockquote>
		Soy una persona responsable, honesta y comprometida con mi trabajo, a tal punto que me gusta entregar siempre lo mejor de mí.
	</blockquote>

	<blockquote>
		No me gusta la mediocridad, por eso cada día trato de aprender algo nuevo para perfeccionar mis habilidades profesionales y personales. Igualmente alentar y ayudar a mi equipo para cada dia ser mejores.
	</blockquote>

	<blockquote>
		Siento que soy una buena herramienta para trabajar en equipo, ya que no soy conflictivo, me relaciono muy bien con los demás y más si son mujeres (es broma, tengo mi esposa), soy una persona amable, cordial y abierta a entender la perspectiva de los demás.
	</blockquote>

	<blockquote>
		Cuando surgen problemas trato de analizarlos lo más rápido posible para después ejecutar una solución adecuada.
	</blockquote>
</section>


<section id="conocimientos" class="center-block">
	<div class="cuadro col-lg-12 col-md-12 center-block">
		<h3><strong>Conocimentos sobre:</strong></h3>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img src="/html.png" title="Html">
			<p><a  class="center font-sm" href="">Html</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img src="/css.png" title="Css">
			<p><a  class="center font-sm" href="">Css</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img class="ruby" src="/ruby.png" title="Ruby">
			<p><a  class="center font-sm" href="">Ruby</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-lg">
			<img src="/git.png" title="Github">
			<p><a  class="center font-sm" href="">Github</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img src="/bootstrap.png " title="Bootstrap">
			<p><a  class="center font-sm" href="">Bootstrap</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img src="/javascript.png" title=" Javascript">
			<p><a  class="center font-sm" href="">Javascript</a></p>
		</div>

		<div class="back-ico col-lg-1 col-md-1 col-sm-1 col-xs-1 clearfix visible-md visible-lg">
			<img src="/rails.png" title="Ruby on Rails">
			<p><a  class="center font-sm" href="">Rails</a></p>
		</div>

		<ul class="list-inline clearfix visible-sm visible-xs">
			<li><a href=""><strong>Html</strong></a></li>
			<li><a href=""><strong>Css</strong></a></li>
			<li><a href=""><strong>Javascript</strong></a></li>
			<li><a href=""><strong>Ruby</strong></a></li>
			<li><a href=""><strong>Ruby on Rails</strong></a></li>
			<li><a href=""><strong>Github</strong></a></li>
			<li><a href=""><strong>Bootstrap</strong></a></li>
		</ul>

	</div>
	<br>
</section>

<section id="experiencia">
	<h3 class="center"><strong>Experiencia laboral</strong></h3>
	<p>Como <strong>programador</strong> no he tenido todavia la oportunidad de trabajar para alguna compañia o realizar trabajos de free-lance ya que apenas llevo 8 meses desde que entre al mundo de la programación.</p>
	<br>
	<p class="font-xs">Pero si aún estas interesado en mis actitudes y aptitudes laborales, <%= link_to 'AQUÍ', '/laboral'%> podrás encontrar una lista de mis ultimos empleos.</p>
</section>

<section id="contacto">
	<h3><strong>Contacto</strong></h3>
	<form class="form-inline" role="form">
		<div><input type="text" placeholder="Tu email"></div>
		<div><textarea rows="10" placeholder="Tu mensaje"></textarea></div>
		<button>ENVIAR</button>
	</form>
</section>

<section id="final">
	<footer>
		© 2016 <strong>Bryan Mauricio Galviz Q.</strong> Todos los Derechos Reservados
	</footer>

	<div class="line center">
	<div class="seg">
		<strong><p class="font-xs ">Puedes Seguirme en:</p></strong>
		<div class="social ">
			<a href="https://www.facebook.com/bmGalvizq" title="facebook"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/bmao92" title="twitter"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/bmgalviz" title="github"><i class="fa fa-github"></i></a>
		</div>
	</div>
	</div>
</section>