<div class="my border-xs clearfix visible-xs">
	<ul id="boton-nav" class="font-sm nav nav-tabs">
		<li role="presentation" ><a href="/"><strong>Volver</strong></a></li>
	</ul>
</div>

<section id="perfil">

	<div class="work">
		<h3><strong>Kathmandú </strong><strong class="font-md">(Restaurante-Bar)</strong></h3>
		<p><strong>Cajero, Mesero</strong> </p>
		<p>sep 2012 - ene 2015</p>
		<p>Comenzé como auxiliar de mesas, y gracias a mi dedicación (y falta de personal) ascendí al cargo de mesero. A las pocas semanas de ser mesero, me hice amigo del cajero que habia y me enseño a manejar la caja (hacer cierres de caja, porcentajes de propinas, notas crédito, entre otras funciones) y al mes él se retiró y tuve que reemplazarlo. En mi año y medio de cajero, solo una vez tuve un descuadre la cifra, no superaba los $100.000.</p>
		<p>Los domingos, que el dia era menos congestionado y habia poco personal, ayudaba en la barra con pedidos que no necesitaran de manipulación directa (gaseosas, cervezas, y algunos cocteles), también tomaba pedidos en las mesas y servia de auxiliar de mesero, además me tocaba hacer bodega (armar <a href="">hookas</a>, surtir cocina, barra y baños de los implementos necesarios) y hacia de DJ. (Si. Los domingo me mataba el doble)</p>
		<p> Puedo decir con confianza y seguridad que mi desempeño fue excelente.</p>
		<p><strong>Telefono:</strong> 213 32 76</p>
		<p><strong>Dirección:</strong> cra 6 # 117 -26 (Usaquén - Bogotá)</p>
	</div>

	<div class="work">
		<h3><strong>Multi image 3d </strong><strong class="font-md">(Negocio Publicitario)</strong></h3>
		<p><strong>Operario</strong> </p>
		<p>feb 2011 - jun 2012</p>
		<p>Le fabricabamos avisos luminosos en hierro y aluminio para Servientrega, Efecty y Dimonex. Luego debiamos ir a instalarlos por toda Bogotá. Teniamos que armar andamios de hasta 6 secciones. Para eso tuve que tomar el curso de alturas (que vence cada año).</p>
		<p>Fabricabamos letreros en acrilico, poliestireno, madera o vinilos para bancos y entidades privadas.</p>
		<p><strong>Telefono:</strong> 310 806 30 80</p>
		<p><strong>Dirección:</strong> cll 70 # 17-30 (Chapinero - Bogotá)</p>
	</div>

	<div class="work">
		<h3><strong>Mabbleek ltda</strong></h3>
		<p><strong>Operario</strong> </p>
		<p>nov 2010 - feb 2011</p>
		<p>Fabricaba artículos en cuero, como cachuchas, chaquetas, zapatos y cinturones. Debia seleccionar entre los retasos de cuero que pedazos servian para ser usados y cuales no. Me encargaba de selección, corte, armado y costura, aunque no todos los dias hacia lo mismo, siempre variaba las tareas.</p>
		<p><strong>Telefono:</strong> 311 545 13 26</p>
		<p><strong>Dirección:</strong> cra 9 # 132-15 (El Bosque - Bogotá)</p>		
	</div>
	
</section>